*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 50px;

}
.header-img{
    width: 200px;
    height: 300px;
    margin-bottom: -4px;

   
}
.button{
    border-radius: 8px;
    background: #E55473;
    padding: 10px;
    margin-top: 20px;
}

.desc{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;

 
}

.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}


.item{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
height: 400px;
}

.imgsize{
    height: 300px;
    width: 200px;
 padding: 20px;
 
  

}

.item-name{
    margin-top: 100px;
    margin-left: 100px;
}